name: publish

on:
  release:
    types: [published]

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
          cache: npm

      - name: Set version from release tag
        run: npm version "${GITHUB_REF_NAME#v}" --no-git-tag-version
      - name: Install Dependencies
        run: npm ci
      - name: Publish
        run: npm publish --access public
